{% use "@App/Orders/blocks.html.twig" %}
{% use "@App/Orders/formBlocks.html.twig" %}
{% extends "Form/layout.html.twig" %}





{% block appbundle_uploads_row -%}
    {% set upload_options=attr['data-options']|default({})|json_decode() %}    
    <div class="form-group upload-container collection {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- block('form_label') -}}
        {% if not read_only %}
            {{ block('upload_btn') }}
        {% endif %}
{#        {% set attr = attr|add_class('form-control') %}#}
        {{ form_widget(form) }}
        {{ block("status_bar") }}
    </div>
{%- endblock appbundle_uploads_row -%}


{% block appbundle_upload_row -%}
    {% set upload_options=attr['data-options']|default('[]')|json_decode() %}    
    {% if attr['data-widget'] is defined and attr['data-widget']=='upload' %}
        {{ block("upload_widget") }}
    {% else %}
        {{ block("upload_row") }}
    {% endif %}
{%- endblock appbundle_upload_row -%}

