{% use "@App/Orders/blocks.html.twig" %}
{% use "@App/Orders/formBlocks.html.twig" %}
{% use "@App/Productions/formBlocks.html.twig" %}
{% use "@App/Deliveries/formBlocks.html.twig" %}
{% use "@App/Invoices/formBlocks.html.twig" %}
{% use "@App/PriceListItems/formBlocks.html.twig" %}
{% use "@App/PriceLists/formBlocks.html.twig" %}

{% extends "Form/layout.html.twig" %}

{% block appbundle_uploads_row -%}
    {% set dopt=form.vars.attr['data-options']|default('{}')|json_decode %}
    {% set preview = dopt['widget']['options']['preview'] | default('false') %}
    {% set uplRow = true %}
    {% set en = en|default('uploads') %}
    <div {{ block('form_group_attributes') }}>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form,{
            attr: form.vars.attr|add_class('form-control')|array_replace({
                "data-options":  (dopt|array_replace({
                    widget: {
                        options: {
                            templates: {
                                process: block("upload_process" ),
                                show: block("upload_show" ),
                                status: block("upload_status"),
                                btnAdd: block("btn_upload")
                            }
                        }
                    }
                }))|json_encode
            })

        }) }}
    </div>
{%- endblock appbundle_uploads_row -%}

{%- block appbundle_uploads_entry_row -%}
    {{ form_widget(form)}}
{%- endblock appbundle_uploads_entry_row -%}

{% block appbundle_upload_row -%}
    {% set dopt=form.vars.attr['data-options']|default('{}')|json_decode %}
    {% set preview = dopt['widget']['options']['preview'] | default('false') %}
    {% set upl = value is not empty? value | json_decode: null %}
    {% set en = en|default('uploads') %}
    <div {{ block('form_group_attributes') }}>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, 
        { 
            attr : form.vars.attr|array_replace({
                "data-options":  (dopt|array_replace({
                    widget: {
                        options: {
                            templates: {
                                process: block("upload_process" ),
                                show: block("upload_show" ),
                                status: block("upload_status"),
                                btnAdd: block("btn_upload")
                            }
                        }
                    }
                }))|json_encode
            })
        }) }}
    </div>

{%- endblock appbundle_upload_row -%}

